{% extends 'base.html' %}
{% block html_title %}Update Assessment{% endblock %}
{% block content %}
        <h1>Update Assessment</h1>
        <form action="" method="post" role="form">
            {{ form.csrf_token }}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="image">Image:</label>
                <div class="col-sm-10">
                    <div class="form-control-plaintext">{{ form.image }}</div>
                    <input type="hidden" class="form-control" id="image" name="image" value="{{ form.image }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="package">Package:</label>
                <div class="col-sm-10">
                    <div class="form-control-plaintext">{{ form.package }}</div>
                    <input type="hidden" class="form-control" id="package" name="package" value="{{ form.package }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="cve_id">CVE ID:</label>
                <div class="col-sm-10">
                    <div class="form-control-plaintext"><a href="{{ form.cve_link }}" target="_blank">{{ form.cve_id }}</a></div>
                    <input type="hidden" class="form-control" id="cve_id" name="cve_id" value="{{ form.cve_id }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="severity">Severity Level:</label>
                <div class="col-sm-10">
                    <div class="form-control-plaintext">{{ form.severity }}</div>
                    <input type="hidden" class="form-control" id="severity" name="severity" value="{{ form.severity }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="text">Assessment Text:</label>
                <div class="col-sm-10">
                    <textarea rows="5" cols="50" id="text" name="text" maxlength="1000">{{ form.text }}</textarea>
                </div>
            </div>
            <input type="hidden" id="category" name="category" value="{{ form.category }}">
            <input type="hidden" id="cve_link" name="cve_link" value="{{ form.cve_link }}">
            {% if users %}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="author">User:</label>
                <div class="col-sm-10">
                    <div class="form-control-plaintext">{{ current_user.name }}</div>
                    <input type="hidden" class="form-control" id="author" name="author" value="{{ current_user.get_id() }}">
                </div>
            </div>
            {% endif %}
            <div class="small">&nbsp;</div>
            <button type="submit" name="button" class="btn btn-success">Update</button>
        </form>
        <br>
{% endblock %}
