{% extends 'base.html' %}
{% block html_title %}Vulnerability Reports{% endblock %}
{% block content %}
        <h1>Vulnerability Reports for Docker Images</h1>
        <p class="font-italic font-weight-light small">Version {{ version }}</p>
        {% if warning %}
        <div class="alert alert-warning" role="alert">
          WARNING: {{ warning }}
        </div>
        {% endif %}
            <form>
                <h5>Filter for images</h5>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="projects">in Project:</label>
                    <div class="col-sm-10">
                        <select id="project" name="project" >
                            {% if filters.get('project') == None %}
                                <option value="" selected>All Projects</option>
                            {% else %}
                                <option value="">All Projects</option>
                            {% endif %}
                            {% for project in projects %}
                                {% if project._id['$oid'] == filters.get('project') %}
                                    <option value="{{ project._id['$oid'] }}" selected>{{project.name}}</option>
                                {% else %}
                                    <option value="{{ project._id['$oid'] }}" >{{project.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="running" name="running" {{ 'checked' if filters.get('running') else '' }}>
                    <label class="form-check-label" for="running">running</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="running_in_gz" name="running_in_gz" {{ 'checked' if filters.get('running_in_gz') else '' }}>
                    <label class="form-check-label" for="running_in_gz"><small>AND</small> running in Globale Zone</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="running_in_pz" name="running_in_pz"  {{ 'checked' if filters.get('running_in_pz') else '' }}>
                    <label class="form-check-label" for="running_in_pz"><small>AND</small> running in Private Zone</label>
                </div>
                <div class="float-right">
                    <button class="btn btn-success btn-sm">Search</button>
                </div>
                <table class="table table-bordered table-striped table table-sm">
                    <thead>
                        <tr>
                            <th>n</th>
                            <th>Image</th>
                            <th>Package</th>
                            <th>CVE ID</th>
                            <th>Fixed</th>
                            <th>Severity Level</th>
                            <th>Assessment</th>
                        </tr>
                    </thead>
                    <tr class="table-success">
                        <td></td>
                        <td>
                            <input class="form-control form-control-sm" name="image" id="image" value="{{ filters.get('image', '') }}">
                        </td>
                        <td>
                            <input class="form-control form-control-sm" name="package" id="package" value="{{ filters.get('package', '') }}">
                        </td>
                        <td>
                            <input class="form-control form-control-sm" name="cve_id" id="cve_id" value="{{ filters.get('cve_id', '') }}">
                        </td>
                        <td>
                            <select class="form-control form-control-sm" name="fixed_bool" id="fixed_bool">
                            {% if filters.get('fixed_bool') == None %}
                                <option value="" selected>All</option>
                            {% else%}
                                <option value="" >All</option>
                            {% endif%}
                            {% if filters.get('fixed_bool') == True %}
                                <option value="True" selected>Fixed</option>
                            {% else%}
                                <option value="True">Fixed</option>
                            {% endif%}
                            {% if filters.get('fixed_bool') == False %}
                                <option value="False" selected>Not fixed</option>
                            {% else%}
                                <option value="False">Not fixed</option>
                            {% endif%}
                            </select>
                        </td>
                        <td>
                            <select class="form-control form-control-sm" name="severity" id="severity">
                            {% if filters.get('severity') == "All Levels" %}
                                <option value="" selected>All Levels</option>
                            {% else%}
                                <option value="" >All Levels</option>
                            {% endif%}
                            {% if filters.get('severity') == "Critical" %}
                                <option value="Critical" selected>Critical</option>
                            {% else%}
                                <option value="Critical" >Critical</option>
                            {% endif%}
                            {% if filters.get('severity') == "High" %}
                                <option value="High" selected>High</option>
                            {% else%}
                                <option value="High" >High</option>
                            {% endif%}
                            {% if filters.get('severity') == "Medium" %}
                                <option value="Medium" selected>Medium</option>
                            {% else%}
                                <option value="Medium" >Medium</option>
                            {% endif%}
                            {% if filters.get('severity') == "Low" %}
                                <option value="Low" selected>Low</option>
                            {% else%}
                                <option value="Low" >Low</option>
                            {% endif%}
                            {% if filters.get('severity') == "Negligible" %}
                                <option value="Negligible" selected>Negligible</option>
                            {% else%}
                                <option value="Negligible" >Negligible</option>
                            {% endif%}
                            {% if filters.get('severity') == "Unknown" %}
                                <option value="Unknown" selected>Unknown</option>
                            {% else%}
                                <option value="Unknown" >Unknown</option>
                            {% endif%}
                            </select>
                        </td>
                        <td>
                            <select class="form-control form-control-sm" name="assessment_bool" id="assessment_bool">
                                {% if filters.get('assessment_bool') == None %}
                                    <option value="" selected>All</option>
                                {% else%}
                                    <option value="" >All</option>
                                {% endif%}
                                {% if filters.get('assessment_bool') == False %}
                                    <option value="False" selected>Not assessed</option>
                                {% else%}
                                    <option value="False">Not assessed</option>
                                {% endif%}
                            </select>
                        </td>
                    </tr>
                    {% if vulnerabilities %}
                        {% for v in vulnerabilities %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td class="text-break">{{ v.image }}</td>
                                <td class="text-break">{{ v.package }}</td>
                                <td><a href="{{ v.cve_link }}" target="_blank">{{ v.cve_id }}</a></td>
                                <td class="text-break">{{ v.fixed }}</td>
                                <td>{{ v.severity }}</td>
                                <td>
                                    {% if v.assessment %}
                                        <a href="/assess/update?assess_id={{ v.assessment['$oid'] }}&v_id={{ v._id['$oid'] }}" class="badge badge-success" data-toggle="tooltip" data-placement="top" title="{{ v.assessment_text }}">Update</a>
                                    {% else %}
                                        <a href="/assess/create?project_id={{ v.project['$oid'] }}&image={{ v.image }}&package={{ v.package }}&cve_id={{ v.cve_id }}&cve_link={{ v.cve_link }}&severity={{ v.severity }}&v_id={{ v._id['$oid'] }}" class="badge badge-light">Create</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </form>
<p>
    <small>
    {% if last_import %}
    Data from <a href="https://{{ last_import.registry }}">{{ last_import.registry }}</a> | last import at UTC {{ last_import.datetime.strftime('%Y-%m-%d %H:%M:%S') }} | vulnerability records updated {{ last_import.updated }}, created {{ last_import.created }}
    {% else %}
    No information about last update available
    {% endif %}
    </small>
</p>
{% endblock %}
